.globalContainer {
    width: 100vw;
    height: 100vh;
    display: grid;
    /* grid-template-rows: 1; */
    grid-template-columns: 1fr 14fr 2fr;
    background: transparent;
}

.toolsContainer {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: white;
    border-right: solid 1px rgb(55, 55, 55);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 10% 0.5rem;
}

.controlsContainer {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 10% 0.5rem;
}

#boardContainer {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    position: relative;
    background-color: transparent;
    position: relative;
    overflow: hidden;
}