
.btn {
    outline: none;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: none;
    color: white;
    background: #F05A5E;
    font-size: 1rem;
    margin: 1rem 0;
    cursor: pointer;
}