
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(131, 131, 131);
}

#root {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
