.controlsContainer {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background: rgb(55, 55, 55);
    padding: 10% 0.5rem;
    text-align: center;
}

.controlsContainer ul {

    margin: 1rem 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.controlsContainer .control {
    list-style: none;
    display: block;
    margin: 1rem 0;
}

.controlsContainer .control:hover {
    cursor: pointer;
}

.controlsContainer .control img {
    width: 1.8rem;
    height: 1.8rem;
    margin: 0.5rem auto;
    display: block;
}

.controlsContainer .control span {
    font-size: 1rem;
    color: white;
}

.controlsContainer video {
    width: 95%;
    height: 90px;
    margin: 0.5rem auto;
    border: solid 1px white;
}